footer address{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer address div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer address div p{
    font-size: 16px;
    color: blue;
}
footer address div h2{
    font-size: 24px;
    color: blue;
}
footer address ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
    color: blue;
}
footer address ul a{
    text-decoration: none;
    color: blue;
}